/* style-light.scss */
@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';

@import '../../node_modules/normalize.css/normalize'; /* Temat ska ladda in modulen normalize.css */

@import 'variables';
@import 'blockquotes';
@import 'code';

@import 'typography'; /* Typography */
@import 'init';
@import 'header';
@import 'container';
@import 'main';
@import 'footer';
@import 'test';
@import 'mobile-menu'; /* Temporary doesn't work hamburgare menu */
@import 'responsive';
@import 'navigation';
@import 'buttons';
@import 'report';
@import 'technologies';
@import 'technology';

* {
    box-sizing: border-box;
}

html,
body {
    background-color: rgb(170, 170, 170);
}