$font-color: #000;
$font-alternative-color: #c1121f;
$accent-color: #0001b8;

$color-footer: #003049;

$background-color: #fcf5e8;
$background-alternative-color: #f1f3f4;

$p-font-family: 'Inter', sans-serif;
$headers-font-family: 'Poppins', sans-serif;
$font-size-p: 1.2em;
$font-size-h1: 2em;
$line-height: 1.6;

$color-btn: #fcf5e8;
$background-btn: #003049;
