{% include 'incl/header.twig' %}

<body>
    <div class="container">
        {% include 'incl/nav.twig' %}

        <div class="main" role="main">
            <h1>Image Gallery</h1>
            <div class="grid-image-gallery">
                {{ content }}
            </div>{# .grid-image-gallery #}
            <h1>Responsive Video</h1>
            <div class="box-600w">
                <div class="embed-container">
                    <iframe src="https://www.youtube.com/embed/uhD0wFiDJfc" title="YouTube video player" frameborder="0" allowfullscreen></iframe>
                </div> {# .embed-container #}
            </div>
        </div>{# .main #}

        {% include 'incl/footer.twig' %}
    </div>{# .container #}
</body>

</html>
