{% include 'incl/header.twig' %}

<body>
    <div class="container">
        {% include 'incl/nav.twig' %}

        <div class="main" role="main">
            <div class="grid-technology">
                <div class="technology-sidebar">
                    {% for page in pages("technology") %}
                            <a href="{{ page.url }}">{{ page.title }}</a>
                    {% endfor %}
                </div>
                <div class="technology-content">
                    {{ content }}
                </div>{# .technology-content #}

            </div>{# .grid-technology #}

        </div>{# .main #}

        {% include 'incl/footer.twig' %}
    </div>{# .container #}
</body>

</html>
